@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: #222;
  color: white;
  font-family: Arial, sans-serif;
  margin-top: 25px;
  margin-left: 25px;
}

.timer-header {
  font-size: 48px;
  text-align: center;
  margin-bottom: 30px;
}

.timer {
  margin-left: 25px;
}

.flex-container {
  display: flex;
}

.flex-child {
  float: 1;
  padding-left: 5px;
}
